<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HealthLink - Doctor Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <nav class="navbar">
            <div class="nav-content">
                <div class="logo">
                    <h2>⚕️HealthLink</h2>
                </div>
                <div class="nav-menu">
                    <a href="/" class="nav-link">Logout</a>
                </div>
            </div>
        </nav>
        <div class="dashboard_layout">
            <aside class="sidebar">
                <h3>Doctor Menu</h3>
                <ul class="sidebar-nav">
                    {% block sidebar %}
                    {% endblock %}
                </ul>
            </aside>
            <main class="main-content">
                {% block main_content %}
                {% endblock %}
            </main>
        </div>
    </body>
</html>