{% extends "base_dashboard.html" %}
{% block sidebar %}
<li><a href="/admin/dashboard"  data-panel-id="home-view">Dashboard Home</a></li>
<li><a href="/admin/doctors"  data-panel-id="doctors-view">Doctors</a></li>
<li><a href="/admin/patients" class="active" data-panel-id="patients-view">Patients</a></li>
<li><a href="/admin/appointments" data-panel-id="appointments-view">Appointments</a></li>
{% endblock %}
{% block main_content %}
<div class="login-box">
    <h2>👨‍⚕️ Edit {{ patient.patient_name }}'s profile</h2>
    <form action="{{ url_for('edit_patient', username=patient.username) }}" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="{{ patient.username }}">
        <label for="new_password">New Password:</label>
        <input type="password" id="new_password" name="new_password">
        <label for="confirm_password">Confirm Password:</label>
        <input type="password" id="Confirm_password" name="Confirm_password">
        <label for="patient_name">Patient Name:</label>
        <input type="text" id="patient_name" name="patient_name" value="{{ patient.patient_name }}">
        <label for="contact_number">contact_number:</label>
        <input type="text" id="contact_number" name="contact_number" value="{{ patient.contact_number }}">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                {% for category, message in messages %}
                    <li class="alert-{{ category }}">
                        {{ message }}
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <button type="submit">Update</button>
    </form>
    <a href="/admin/patients" class="back-link">← Back to Home</a>
</div>
{% endblock %}